<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/list.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Intranet Saint-James</title>
</head>
<body>
    <!-- EN-TÊTE -->
    <header>
        <!--- Logo du site -->
        <img class="logo" src="img/logo.png">
        <!-- Barre de navigation -->
        <nav>
            <!-- Bouton hamburger pour les appareils mobiles -->
            <label for="toggle">☰</label>
            <input type="checkbox" id="toggle">
            <!-- Liens des pages -->
            <div class="main_pages">
                <a href="/">Accueil</a>
                <a href="/form">Formulaires</a>
                <a href="/list">Liste des téléphones</a>
                <a href="/jobs">Offres d'emploi</a>
            </div>
        </nav>
    </header>

    <div class="user-control">
        <img class="svg-color" src="img/user.svg" />
        <p><%= useremail %></p>
        <a class="logout" href="/logout">Déconnexion</a>
    </div>

    <!-- CONTENU PRINCIPAL -->
    <main>
        <form action="" method="post">
            <input class="search-bar" name="search" placeholder="Rechercher">
            <input class="sendform" type="submit" value="Envoyer" />
        </form>
        <table>
            <tr>
              <th>Nom</th>
              <th>E-mail</th>
              <th>Téléphone</th>
              <th>Téléphone mobile</th>
              <th>Numéro abrégé</th>
              <th>Fonction</th>
              <th>Adresse</th>
              <th>Ville</th>
              <% for(let i = 0; i < user.length; i++) { %>
                <tr>
                    <td><%= user[i].cn %></td>
                    <td><%= user[i].mail %></td>
                    <td><%= user[i].telephoneNumber %></td>
                    <td><%= user[i].otherTelephone %></td>
                    <td><%= user[i].ipPhone %></td>
                    <td><%= user[i].title %></td>
                    <td><%= user[i].streetAddress %></td>
                    <td><%= user[i].l %></td>
                </tr>
              <% } %>
            </tr>
          </table>
    </main>

    <!-- SCRIPTS -->
    <script src="js/spin.js"></script>
</body>
</html>