<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/viewjob.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Intranet Saint-James</title>
</head>
<body>
    <!-- EN-TÊTE -->
    <header>
        <!--- Logo du site -->
        <img class="logo" src="img/logo.png">
        <!-- Barre de navigation -->
        <nav>
            <!-- Bouton hamburger pour les appareils mobiles -->
            <label for="toggle">☰</label>
            <input type="checkbox" id="toggle">
            <!-- Liens des pages -->
            <div class="main_pages">
                <a href="/">Accueil</a>
                <a href="/form">Formulaires</a>
                <a href="/list">Liste des téléphones</a>
                <a href="/jobs">Offres d'emploi</a>
            </div>
        </nav>
    </header>

    <div class="user-control">
        <img class="svg-color" src="img/user.svg" />
        <p><%= useremail %></p>
        <a class="logout" href="/logout">Déconnexion</a>
    </div>

    <!-- CONTENU PRINCIPAL -->
    <main>
        <h1><%= job.data.attributes.name %></h1>

        <h2>#<%= job.data.id %></h2>

        <% date = new Date(job.data.attributes.createdAt); %>

        <h3><%= date.toLocaleDateString("fr-FR") + " " + date.toLocaleTimeString("fr-FR"); %></h3>

        <div class="multiline"><%= job.data.attributes.details %></div>

        <% if (strapiStatus) { %>
        <div class="btn-align">
            <a class="action-button edit" href="/editjob?id=<%= job.data.id %>"><img src="img/edit.png" />Éditer</a>
            <a class="action-button delete" href="/jobdelete?id=<%= job.data.id %>" onclick="return confirm('⚠️ Voulez-vous vraiment supprimer cette offre ?')"><img src="img/plus.png" />Supprimer</a>
        </div>
        <% } %>
    </main>

    <!-- SCRIPTS -->
    <script src="js/spin.js"></script>
</body>
</html>